@import "../../../../../../../styles/variables.scss";
main {
  width: 300px;
  display: flex;
  div {
    gap: 6px;
    display: flex;
    align-items: center;
    p {
      color: $secondary-gray;
    }
  }
}
.box {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.colorForTodo {
  background-color: #49c4e5;
}
.colorForDoing {
  background-color: #8470f2;
}
.colorForDone {
  background-color: #67e2af;
}
