@import "../../../styles/variables.scss";

nav {
  height: 100%;
  width: 300px;
  background-color: $third-dark;
  border-right: 2px solid #3f4151;

  .logo {
    fill: white;
    font-family: $font-family;
  }
  .mainlogo {
    margin-left: 34px;
    margin-top: 32.78px;
  }
  .boards {
    margin-top: 63px;
    h3 {
      font-family: $font-family;
      color: $secondary-gray;
      font-weight: $font-weight-medium;
      font-size: $heading-M;
      letter-spacing: 2px;
    }
    ul {
      margin-top: 16px;
      li {
        list-style: none;
        color: $secondary-gray;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        padding-left: 32px;
        height: 48px;
        width: 95%;
        p {
          font-size: $heading-M;
          font-family: $font-family;
          font-weight: $font-weight-medium;
        }
      }
      .creatBoard {
        p {
          color: $primary-purple;
        }
        svg {
          path {
            fill: $primary-purple;
          }
        }
      }
    }
  }
}
.activeBoard {
  background-color: $primary-purple;
  border-radius: 0px 40px 40px 0px;
}
.boardCount {
  margin-left: 32px;
}
