@import "../../../styles/variables.scss";
main {
  width: 280px;
  height: auto;
  background-color: #2b2c37;
  border-radius: 15px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
    h2 {
      color: white;
      font-size: $heading-L;
      padding-left: 10px;
    }
    p {
      padding-left: 10px;
      font-size: $heading-M;
      color: $secondary-gray;
    }
  }
}
svg {
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  &:hover {
    g {
      fill: white;
      transition: 0.4s;
    }
  }
}
::ng-deep .customize {
}
