@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$primary-purple: #635fc7;
$secondary-ligthPurple: #a8a4ff;
$primery-dark: #000112;
$secondary-dark: #20212c;
$third-dark: #2b2c37;
$primary-gray: #3e3f4e;
$secondary-gray: #828fa3;
$white-color: #ffffff;
$danger: #ea5555;
$font-family: "Plus Jakarta Sans", sans-serif;
$font-weight-medium: 500;
$font-weight-bold: 700;
$heading-XL: 24px;
$heading-L: 18px;
$heading-M: 15px;
$heading-S: 12px;
