<main>
  <div class="addTask">
    <h1>Platform Launch</h1>
    <div>
      <button
        [disabled]="lengthOfColumn.length === 0"
        (click)="onAddTask()"
        [ngClass]="{ disable: lengthOfColumn.length === 0 }"
      >
        + Add New Task
      </button>
      <svg
        width="5"
        height="20"
        xmlns="http://www.w3.org/2000/svg"
        [matMenuTriggerFor]="menu"
      >
        <g fill="#828FA3" fill-rule="evenodd">
          <circle cx="2.308" cy="2.308" r="2.308" />
          <circle cx="2.308" cy="10" r="2.308" />
          <circle cx="2.308" cy="17.692" r="2.308" />
        </g>
      </svg>
    </div>
  </div>
  <router-outlet></router-outlet>
</main>
<mat-menu #menu="matMenu" class="customize">
  <button mat-menu-item (click)="onEdit()">Edit</button>
  <button mat-menu-item>Delete</button>
</mat-menu>
